<p>Bienvenue <%= @user.first_name %>,</p>



<p>
  Nous avons le plaisir de vous accueillir au sein de la Communauté Trust-in.

  Que vous ayez besoin d’aide dans la réalisation d’une tâche ou que vous souhaitiez proposer vos services, rendez-vous sur www.trust-in.fr





</p>
