.content h2 {
  font-family: lato;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}


.edit-profile {
  background: white;
  padding: 14px;
  margin-top: 15px;


h2 {
  font-family: lato;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: lato;
  font-size: 15px;

  color: rgb(76, 100, 166);
}
label {

    font-family: lato;
    font-size: 16px;
}

}

