.titre-events {
  margin-bottom: 24px;

  h1 {
    text-align: center;
    font-family: lato;
    font-weight: bold;
    font-size: 23px;
    color: #1e545c;
  }

  h2 {
    text-align: center;
    font-family: lato;
    font-weight: bold;
    font-size: 20px;
    color: #1e545c;
  }

  p {
    text-align: center;
    font-family: lato;
    font-size: 18px;
    color: #1e545c;
  }
}



.participation-event {


  position: relative;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

  h2 {

    font-size: 25px;
    text-align: center;
  }
}


.event-title h1 {

  font-size: 30px;
  text-align: center;
}

.event-photo-show {

      padding: 10px 20px;
      margin-top: 50px;
      border-radius: 3px;
      height: 260px;

}


.event-long-description {

margin-top:20px;

p{

  font-size: 16px;

}

}

.modif-event {

  margin-top: 20px;
  margin-bottom: 10px;
}

.add-event {

  margin-top: 20px;
  margin-bottom: 20px;

  a {
    color:white;
    text-decoration: none;
  }
}
