
<div class="card-event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
    <div class="card-event-description">
    <h2><%=event.name.capitalize %></h2>
    <p> Venez vous initier au Street Art </p>
  </div>


  <%= link_to '', event_path(event), class:'card-link' %>
</div>
