
<div class="container">

<div class="row">
  <div class="filtres">
    <h1> Découvrez les activités que nous avons testées et adorées à côté de chez vous </h1>
  </div>
</div>

  <div class="row">
    <% @events.each do |event| %>
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <%= render 'shared/card-event', event: event %>
        <!-- insert <div class="card"> -->
      </div>
    <% end %>
  </div>
</div>
