<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="title-information">
      <h2>  Trust-in, partage de recommandations et bons plans avec votre réseau</h2>
    </div>
  </div>
</div>


  <div class="row">
    <div class="groups-list">
      <h3>    <i class="fas fa-user-plus" aria-hidden="true"></i>  INVITEZ à partager vos recommandations </h3>
      <p> <strong> </strong></p>
      <p> Pour pouvoir à votre tour bénéficier de leurs recommandations et bons plans </p>
      <% @prospected_users.each do |user| %>

        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="one-group">
            <ul>
              <li>
                <div class="one-to-add">
                  <div class="name-to-add">

                   <p>  <%= user.first_name %> <%= user.last_name.upcase %> </p>

                   </div>
                  <div class="">
                     <%= link_to want_join_group_path (user.groups.first) do %>
                    <i class="fas fa-user-plus" aria-hidden="true"></i>
                    <% end %>
                  </div>

                </div>
              </li>
            </ul>
          </div>
        </div>

      <% end %>
    </div>
  </div>

