<div class='container'>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="etre-prestataire">
      <h2>  Bienvenue sur Trust-in, <br>
      Partage de recommandations et bons plans</h2>

        <h2> Vous recherchez de l'aide ? </h2>
        <p> Babysitting, soutien scolaire, cours de musique, travaux, etc ..</p>
        <div class="arrow-blue">
          <%= link_to edit2_profile_path(current_user) do  %>
          <p> <i class="fas fa-arrow-alt-circle-right" aria-hidden="true"></i></p>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="etre-prestataire">
        <h2> vous souhaitez proposer vos services ? </h2>
        <div class="arrow">
          <%= link_to edit_profile_path(current_user) do  %>
            <p> <i class="fas fa-arrow-alt-circle-right" aria-hidden="true"></i></p>
            <% end %>
        </div>
      </div>

    </div>
  </div>

</div>
