
.card {
  height: 175px;

  // background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(http://res.cloudinary.com/dfjd5sbad/image/upload/v1511968719/emghxa2ioidbq0etjfxd.jpg);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.one-card {
  margin-top:10px;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
  height:85px;
  width: 80px;
  border: 5px solid black;
}

.cards-container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  // background-color: rgba(78,205,196,1);

}
// .card-background {
//   position: absolute;
//   right: 10px;
//   top: 10px;
//   width: 60px;
//   border-radius: 50%;
// }


.card-prestations-index {

  margin-left: 8px;
  margin-right: 8px;
  background-color: white;
  margin-top: 6px;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 3px;
  left: 10px;

}
.card-description h2 {
  font-size: 20px;
  color: #1A535C;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-footer {
     // background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(http://res.cloudinary.com/dfjd5sbad/image/upload/v1511968719/emghxa2ioidbq0etjfxd.jpg);
  background-position: center;
  height: 140px;
  background-color: white;
  padding-left: 25px;
  padding-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  position:relative;

  h3 {
  font-family: lato;

  font-size: 18px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #00B9AE;
  }

  p {
    font-family: lato;
    font-size: 16px;
     color: #4F4F4F;
     margin: 0;
         }
}

.categories {
  padding-bottom: 16px;
}
.recos {

  margin-top: 16px;
}

.recomand {
 position: absolute;
 bottom: 52px;
 right: 23px;
 width: 80px;


  p {
    font-size:13px;
    font-weight:bold;
    text-align: center;

  }
}


.star-recomand {
 width: 39px;
 position: absolute;
 bottom: 27px;
 right: 20px;
 margin-bottom: 17px;

}


.recommandez-ici {
  position: absolute;
  left: 22px;

  bottom: 4px;
  width: 114px;
  font-size: 12px;

  p {
    font-size: 14px;
    font-weight: bold;
  }

}
